LOGGING_LEVEL = INFO
UPLOAD_CHANNEL_ID = -1111111111111
BOT_TOKEN = 0123456789:ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789
DB_URL = postgresql://postgres@localhost/test
STUB_VIDEO_URL = https://example.com/stub.mp4
STUB_THUMBNAIL_URL = https://example.com/thumbnail.jpg
MAX_FILE_SIZE = 20971520
